# --- Global settings for all files ---
CompileFlags:
  Add: [-std=c++23, -Wall, -Wextra]
  Compiler: clang++
  CompilationDatabase: build

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - modernize-*
      - readability-identifier-naming

Index:
  Background: Build

Hover:
  ShowAKA: true

InlayHints:
  Designators: true
  Enabled: true
  ParameterNames: true
  DeducedTypes: true